@font-face {
    font-family: pokemon;
    src: url('./fonts/PokemonGb-Raeo.ttf');
}

body {
    font-family: "pokemon", sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.hero-container {
    display: flex;
    justify-content: space-around;
}

.header-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.column-left {
    width: 50%;
    border: 2px solid black;
}

.column-right {
    width: 35%;
    border: 2px solid black;
}

.trainer {
    text-align: center;
}

.pokemon img {
    display: inline;
    align-items: center;
    height: 2rem;
    width: 2rem;
}

h1 {
    color: red;
}

#about {
    background-image: url("images/background-beach.jpg");
    border: solid coral 4px;
}

#about-header {
    text-align: center;
}

#about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#about-image {
    box-sizing: border-box;
    border-radius: 10%;
    background-color: bisque;
    border: solid coral 4px;
    margin: 20px;
    padding: 15px 0;
    text-align: center;
    width: 33%;
}

#about-gym-image {
    width: 95%;
    height: auto;
}

#about-locus {
    box-sizing: border-box;
    border-radius: 10%;
    background-color: bisque;
    border: solid coral 4px;
    margin: 20px;
    text-align: center;
    width: 33%;
}

#about-description {
    box-sizing: border-box;
    border-radius: 10%;
    background-color: bisque;
    border: solid coral 4px;
    margin: 20px;
    padding: 10px;
    width: 33%;
}

#about-description-story {
    text-align: center;

}


.header-image1, .header-image2{
    max-width: 23rem;
    height: auto

}

.footer-image{
    width: 50rem;
    height: 5rem
}

.type-trainer-name{
    font-weight: bold;
}

.type-header{
    text-align: center
}

footer {
    text-align: center;
}