.hero-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column-left {
    width: 50%;
    border: 2px solid black;
}

.column-right {
    width: 35%;
    border: 2px solid black;
}

.trainer {
    text-align: center;
}

.pokemon img {
    display: inline;
    align-items: center;
    height: 2rem;
    width: 2rem;
}

h1 {
    color: red;
}